@import "colors";

.top-bar {
  background-color: #303030;
  border-bottom: 1px solid #b0b0b0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

ul.right {
  margin: 0;
}

.top-bar ul {
  background-color: #303030;
}

.button {
  margin: 0.5rem;
}

.button.clear {
  color: $logo-blue;
}

.button.hollow {
  border: none;
  padding: 0rem;
  color: $logo-blue;
  font-weight: bolder;
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.logo-nav-bar {
  width: 5rem;
  height: auto;
  border-radius: 1rem;
  margin-right: 1rem;
}

.logo-main-search {
  width: 25%;
  height: auto;
  display: block;
  margin: auto;
  padding-left: 3.5rem;
}

.search-bar {
  padding-top: 3rem;
}

.input-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-featured {
  padding-bottom: 3rem;
}

.restaurant-featured-image {
  width: 15%;
  height: 15%;
  border-radius: 1rem;
}

.restaurant-image {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.recipe-image {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.restaurant-featured-image:hover {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1);
  transition: transform 1.6s ease 0s;
  box-shadow: 3px #b0b0b0;
}

.restaurant-image:hover,
.recipe-image:hover {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
  transition: transform 1.6s ease 0s;
  box-shadow: 3px #b0b0b0;
}

h5,
h6 {
  font-weight: bold;
}

.price {
  color: #b0b0b0;
}

.grid-margin-x {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 2rem;
}

.cell,
.column {
  text-align: center;
}

.restaurant-show-image {
  width: 15rem;
  height: auto;
  border-radius: 1rem;
}

.restaurant-show-tile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recipe-text {
  color: $logo-orange;
}

.category-header {
  text-align: center;
}

h2,
h3,
h5,
h6,
p {
  color: $logo-blue;
}

.fa-solid,
.fa-star-half-stroke,
.fa-regular,
.fa-star {
  color: $logo-orange;
}

.devise-form {
  margin: auto;
  width: 17%;
}

.form-header {
  text-align: center;
  color: $logo-blue;
  padding-left: 3.5rem;
}

#error_explanation {
  color: $error;
  font-weight: bold;
}

.review-form-div {
  margin: auto;
  width: 25%;
}

.review-button {
  margin-top: 1rem;
}

.search-button {
  display: block;
  margin: auto;
  font-weight: bolder;
}

.drop-zone {
  text-align: center;
  padding: 3rem;
  border: 0.063rem grey dashed;
  background: #ffffff;
  margin-top: 1rem;
}

.maps {
  display: block;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.username {
  font-weight: bold;
}

.restaurant-stars {
  display: inline-block;
  margin: auto;
}

.text-left {
  text-align: left;
}

.dark {
  background-color: #303030;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
}

.light {
  background-color: #eeeeee;
  color: #333;
  transition: background-color 0.4s ease-in-out;
}

.search-button-small {
  padding-left: 5rem;
}

.dark-mode-toggle {
  float: right;
  padding-right: 3.5rem;
  padding-top: 1rem;
  font-size: x-large;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fa-linkedin {
  font-size: x-large;
}

.fa-github {
  color: #ffffff;
  font-size: x-large;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fa-envelop {
  font-size: xx-large;
}

.extra-padding {
  margin-bottom: 5rem;
}

.text-center {
  padding-left: 2rem;
  padding-right: 2rem;
}

label {
  color: $logo-blue;
}

.write-review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bolder;
  font-size: larger;
}

.review-text-long {
  color: $logo-orange;
  padding-top: 2rem;
}
.review-text {
  color: $logo-orange;
}

.click-here {
  color: #25606e;
  text-decoration: underline;
}

.click-here:hover {
  color: $logo-orange;
  text-decoration: underline;
}

.home-images {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  margin-top: 3rem;
}

.home-images:hover {
  transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
  transition: transform 1.6s ease 0s;
  box-shadow: 3px #b0b0b0;
}

.featured-recommendation {
  color: $logo-orange;
  font-weight: bolder;
}

.alternative-recommendations {
  color: $logo-orange;
  text-align: center;
  font-weight: bolder;
}

.restaurant-address {
  padding-top: 2rem;
}

.search-error {
  text-align: center;
  color: $logo-orange;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}

.rating {
  text-align: center;
  margin: auto;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: $logo-orange;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: $logo-orange;
}

.rating-stars {
  display: inline-block;
}

.user-profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile-buttons {
  font-size: x-large;
}

.button.hollow.review-action {
  color: $logo-orange;
}

.edit-review-header {
  color: $logo-orange;
  text-align: center;
}

.edit-review-form {
  width: 64%;
  margin: auto;
}

#edit-rating {
  margin-right: auto;
}

.restaurant-name {
  color: $logo-orange;
}

.fa-heart {
  color: #f7afbd;
}
