@import "colors";

.top-bar {
  background-color: #303030;
  border-bottom: 1px solid #b0b0b0;
  padding: 0;
  padding-bottom: 0.5rem;
  text-align: center;
}

ul.right {
  margin: 0;
}

.top-bar ul {
  background-color: #303030;
}

.button {
  margin: 0.5rem;
}

.button.clear {
  color: $logo-blue;
}

.button.hollow {
  border: none;
  padding: 0rem;
  color: $logo-blue;
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.logo-nav-bar {
  width: 5rem;
  height: auto;
  border-radius: 1rem;
}

.logo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-main-search {
  width: 25%;
  height: auto;
}

.search-bar {
  padding-top: 3rem;
}

.input-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-featured {
  padding-bottom: 3rem;
}

.restaurant-featured-image {
  width: 15%;
  height: 15%;
  border-radius: 1rem;
}

.restaurant-image {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.restaurant-featured-image:hover {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1);
  transition: transform 1.6s ease 0s;
  box-shadow: 3px #b0b0b0;
}

.restaurant-image:hover {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
  transition: transform 1.6s ease 0s;
  box-shadow: 3px #b0b0b0;
}

h5,
h6 {
  font-weight: bold;
}

.categories-price {
  display: inline;
}

.price {
  color: #b0b0b0;
}

.grid-margin-x {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 2rem;
}

.cell,
.column {
  text-align: center;
}

.restaurant-show-image {
  width: 15rem;
  height: auto;
  border-radius: 1rem;
}

.restaurant-show-tile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3,
h5,
h6,
p {
  color: $logo-blue;
}

.fa-solid,
.fa-star-half-stroke,
.fa-regular,
.fa-star {
  color: $logo-orange;
}

.devise-form {
  margin: auto;
  width: 17%;
}

.form-header {
  text-align: center;
  color:$logo-blue;
}

#error_explanation {
  color: $error;
  font-weight: bold;
}

.review-form-div {
  margin: auto;
  width: 17%;
}

.review-button {
  margin-top: 1rem;
}

.dropzone {
  text-align: center;
  padding: 3rem;
  border: 0.063rem grey dashed;
  background: #ffffff;
}

.maps {
  display: block;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.username {
  font-weight: bold;
}

.dark {
  background-color: #303030;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
}

.light {
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.4s ease-in-out;
}

.search-button-small {
  padding-left: 5rem;
}

.dark-mode-toggle {
  float: right;
  padding-right: 1.4rem;
  padding-top: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fa-linkedin {
  font-size: x-large;
}

.fa-github {
  color: #ffffff;
  font-size: x-large;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fa-envelop {
  font-size: xx-large;
}

.extra-padding {
  margin-bottom: 5rem;
}

.text-center {
  padding-left: 2rem;
  padding-right: 2rem;
}

label {
  color: $logo-blue;
}

.write-review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bolder;
  font-size: larger;
}

.review-text {
  color:$logo-orange
}