<div class="footer">
  <a href="https://www.linkedin.com/in/danielfanpro/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  <a href="https://github.com/danielfan-pro/foodle" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="mailto:danielfanpro@icloud.com"><i class="fa-solid fa-envelope"></i></a>
</div>